* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
}

button {
  padding: 0.25em 1em;
  min-width: 7em;
}

header {
  padding: 0.75em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  background-color: black;
}

.header-btn-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.message {
  margin: 1em;
  padding: .5em;
  border-bottom: 1px solid darkgray;
}

.message-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5em;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: .25em;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  label {
    margin-bottom: .25em;
  }
  .form-buttons {
    display: flex;
    gap: .5em;
    justify-content: space-between;
  }
}

.form-errors {
  color: red;
}


input, 
textarea {
  padding: .25em;
}

.error-message {
  color: red;
}

.message-input-block {
  display: flex;
  flex-direction: column;
}